 <!-- <img src="../assets/image.png" style="height: 100px;"> -->
 <div class="background">
    <!-- Header -->
    <nav class="navbar navbar-expand-sm">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="#">
        <img src="../assets/Logo.png" alt="logo" style="width:200px;">
      </a>
      
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Services
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Case Studies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Career</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blogs</a>
        </li>
        <li class="nav-item">
          <button  class="btn btn-new">Contact Us</button>
        </li>
      </ul>
    </nav>

    <!-- Search -->
    <div class="container">
      <span style="color: white;text-align: center;font-size: 52px;font-weight: 700;">
        Enterprise Application <span style="color: #d64218;"> Development</span>
      </span>
   
      <div style="font-size: 18px;">
        We are 30+ professional software engineers with more than 
        <p style="text-align: center;">8+ years of experience in delivering superior product</p>
      </div>

      <div>
        <div class="search">
          <i class="fa fa-search searchIcon"></i>
          <input type="text" class="searchTxt" placeholder="Search for services">
          <button class="btn btn-new">Search</button>
       </div>
      </div>
     

       <!-- icons list -->
    <div class=" iconList">
      <img src="../assets/Img.png">
      <img src="../assets/Img-1.png">
      <img src="../assets/Img-2.png">
      <img src="../assets/Img-3.png">
      <img src="../assets/Img-4.png">
      <img src="../assets/Img-5.png">
      <img src="../assets/Img-6.png">
      <img src="../assets/Img-7.png">
    </div>
    </div>

   <!-- count data -->
     <div class="aboutInfo">
      <span style="font-size: 38px; font-weight: 600;">
        Top <span style="color: #d64218;"> Software Development</span>
        <p style="text-align: center;"> Company In Bangalore</p>
      </span>

      <div class="row" style="width: 80%;">
        <div class="col-md-4">
          <div class="count borderDiv">
            <span>500+ </span>Client
          </div>
          <div class="count borderDiv">
            <span>1000+ </span> Projects
          </div>
        </div>
        <div class="col-md-4">
          <div class="count">
            <span>20+ </span>  Professionals
          </div>
          <div class="count">
            <span>25+ </span>  Countries
          </div>
        </div>
        <div class="col-md-4">
          <div class="row thumb1">
            <div class="col-md-4 thumb2">
              <i class="fa fa-thumbs-up" style="font-size: 80px; margin-top: 50%;color: #f3eddb;"></i>
            </div>
            <div class="col-md-6 thumb3">
              <div>
                  <i class="fa fa-star checked"></i>
                  <i class="fa fa-star checked"></i>
                  <i class="fa fa-star checked"></i>
                  <i class="fa fa-star checked"></i>
                  <i class="fa fa-star checked"></i>
              </div>
              <div>
                  <span>Loved by many clients worldwide</span>
                  <p style="color: #d64218;">Know More About Us</p>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>

    <!-- services -->
    <div class="container">
      <span style="text-align: center;font-size: 48px;font-weight: 700;">
        Our Services
      </span>
      <div style="font-size: 14px;">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to 
      </div>
      <div class="services">
        <div><img src="../assets/Web dev.png"><p>Web Development</p></div>
        <div><img src="../assets/Software dev.png"><p>Software Development</p></div>
        <div><img src="../assets/Mob Dev.png"><p>App Development</p></div>
        <div><img src="../assets/UIUX.png"><p>UI UX Design</p></div>
        <div><img src="../assets/Digital Marketing.png"><p>Digital Marketing</p></div>
        <div><img src="../assets/Content Martketing.png"><p>Content Maketing</p></div> 
      </div>
      <button class="btn exploreBtn">Explore All <i class="fas fa-arrow-right" style="padding: 5px;"></i></button>
    </div>

    <!-- Portfolio -->
    <div class="portfolio">
      <span style="text-align: center;font-size: 48px;font-weight: 700;">
        Portfolio
      </span>
      <button class="btn exploreBtn1">Explore All</button>
      <div class="row">
        <div class="col-md-6 info">
          <div>
            <p class="infoHead"> The World's Most intuitive user data</p>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            </p>
            <button class="btn moreBtn">Know More</button>
          </div>
        </div>
        <div class="col-md-6" style="padding: 0px;">
          <img src="../assets/about-1.jpg" class="infoImg">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="padding: 0px;">
          <img src="../assets/image_1.jpg" class="infoImg">
        </div>
        <div class="col-md-6 info">
          <div>
            <p class="infoHead"> The World's Most intuitive user data</p>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            </p>
            <button class="btn moreBtn">Know More</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 info">
          <div>
            <p class="infoHead"> The World's Most intuitive user data</p>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            </p>
            <button class="btn moreBtn">Know More</button>
          </div>
        </div>
        <div class="col-md-6" style="padding: 0px;">
          <img src="../assets/image_2.jpg" class="infoImg">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="padding: 0px;">
          <img src="../assets/project-6.jpg" class="infoImg">
        </div>
        <div class="col-md-6 info">
          <div>
            <p class="infoHead"> The World's Most intuitive user data</p>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            </p>
            <button class="btn moreBtn">Know More</button>
          </div>
        </div>
      </div>
    </div>

    <!-- features -->
    <div class="container">
      <span style="font-size: 38px; font-weight: 600;">
        A Diverse Team Of <span style="color: #d64218;"> Passionate</span> Engineers Who are
        <p style="text-align: center;"> Here To Provide You <span style="color: #d64218;">The Best Service</span></p>
      </span>
      <div style="font-size: 18px;">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown 
        printer took a galley of type and scrambled it to make a type specimen book
      </div>
      <div class="features">
        <div class="row">
          <div class="col-md-4" >
             <div class="feature_info">
               <img src="../assets/Strong expertise.png">
               <h5>Strong Expertise</h5>
               <p style="font-size: 12px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the  </p>
              </div> 
          </div>
          <div class="col-md-4" >
            <div class="feature_info">
              <img src="../assets/Ownership & Feedback.png">
              <h5>Ownership & Feedback</h5>
              <p style="font-size: 12px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
               Lorem Ipsum has been the industry's stan</p>
             </div> 
          </div>
          <div class="col-md-4" >
            <div class="feature_info">
              <img src="../assets/On Time Delivery.png">
              <h5>On Time Delivery</h5>
              <p style="font-size: 12px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
               Lorem Ipsum has been the industry's standard dummy text </p>
             </div> 
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" >
             <div class="feature_info">
               <img src="../assets/Result Focused.png">
               <h5>Result Focused</h5>
               <p style="font-size: 12px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard </p>
              </div> 
          </div>
          <div class="col-md-4" >
            <div class="feature_info">
              <img src="../assets/Client First.png">
              <h5>Client First</h5>
              <p style="font-size: 12px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
               Lorem Ipsum has been the industry's standard dummy text ever</p>
             </div> 
          </div>
          <div class="col-md-4" >
            <div class="feature_info">
              <img src="../assets/Effective Synergy.png">
              <h5>Effective Synergy</h5>
              <p style="font-size: 12px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
               Lorem Ipsum has been the industry's</p>
             </div> 
          </div>
        </div>
      </div>
    </div>

    <!-- Articles -->
    <div class="articles">
      <span style="font-size: 38px; font-weight: 600;">
        Browse Our Latest <span style="color: #d64218;"> Articles</span>
      </span>
    </div>
  </div>
