  <div class="background">

    <!-- Header -->
    <nav class="navbar navbar-expand-sm">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="#">
        <img src="../assets/Logo.png" alt="logo" style="width:200px;">
      </a>
      
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Services
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Case Studies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Career</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blogs</a>
        </li>
        <li class="nav-item">
          <button  class="btn btn-new">Contact Us</button>
        </li>
      </ul>
    </nav>

    <!-- Search -->
    <div class="container">
      <h1 style="color: white;font-size: 48px;">
        Enterprise Application <p style="text-align: center; color: #d64218;"> Development</p>
      </h1>
   
      <div style="font-size: 18px;">
        We are 30+ professional software engineers with more than 
        <p style="text-align: center;">8+ years of experience in delivering superior product</p>
      </div>

      <div class="search">
         <input type="text" class="searchTxt" placeholder="Search for services">
         <button class="btn btn-new">Search</button>
      </div>
    </div>
  </div>
